body {
    font-size: 40px;

}
.backgroundtext {
    font-size: 30px;
}

.bold
{font-weight: 700;
}

.content--wrapper{
    z-index: 1000;
    position: fixed;
    margin: auto;
    margin-top: 10vh;
    background-color: rgb(173, 228, 255);
    text-align: center;
}


/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    z-index: -1000;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }